# Python / Virtual Environment
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (Maxfiy kalitlar va ma'lumotlar)
.env
!.env.example

# Git va IDE sozlamalari
.git/
.vscode/
.idea/

# Boshqa vaqtinchalik fayllar
*.log
*.sqlite3